<div align="center">
  <h1>April 1, 2020</h1>
  <h3>
    <a href="y2020/apr1">1</a>
      <span>-</span>
    <a href="y2020/apr1">3</a>
  </h3>
  <br>
    
  <table cellpadding="0" cellspacing="0" valign="center">
  	<col>
  	<col>
  	<col>
  	<tr>
  		<td colspan="3" valign="center" style="border: 0px solid #000000">
          <a href="http://www.superbilt.com/">
            <img src="img/20200401p01ad03.jpg" alt="" >
          </a>
  		</td>
  	</tr>
  	<tr>
  		<td colspan="3" style="border-top: none; border-bottom: 0px solid #000000; border-left: 0px solid #000000; border-right: 0px solid #000000" >
          <a href="http://indocaribbeanworld.com/">
            <img src="img/20200401p01ad04.jpg" alt="" >
          </a>
  		</td>
  	</tr>
  	<tr valign="top">
  		<td style="border-top: none; border-bottom: 0px solid #000000; border-left: 0px solid #000000; ">
          <a href="https://omesh.com/">
            <img src="img/20200401p01ad05.jpg" alt="" >
          </a>
  		</td>
  		<td rowspan="2" style="border-top: none; border-bottom: 0px solid #000000; border-left: 0px solid #000000; border-right: none; ">
          <img src="img/20200401p01body01.jpg" alt="" >
  		</td>
  		<td style="border-top: none; border-bottom: 0px solid #000000; border-left: 0px solid #000000; border-right: 0px solid #000000;" >
          <a href="http://www.moneyfreedom.ca/">
            <img src="img/20200401p01ad07.jpg" alt="" >
          </a>
  		</td>
  	</tr>
  	<tr valign="top">
  		<td style="border-top: none; border-bottom: 0px solid #000000; border-left: 0px solid #000000; border-right: none; ">
          <a href="http://indocaribbeanworld.com/">
            <img src="img/20200401p01ad06.jpg" alt="" >
          </a>
  		</td>
  		<td style="border-top: none; border-bottom: 0px solid #000000; border-left: 0px solid #000000; border-right: 0px solid #000000;" >
          <a href="http://www.insurewiseinc.com/">
            <img src="img/20200401p01ad02.jpg" alt="" >
          </a>
  		</td>
  	</tr>
  	<tr>
  		<td colspan="3"  valign="top" style="border-top: none; border-bottom: 0px solid #000000; border-left: 0px solid #000000; border-right: 0px solid #000000;" >
          <a href="#">
            <img src="img/20200401p01ad01.png" alt="" >
          </a>
  		</td>
  	</tr>
  </table>

  <br>

</div>
