
<div style="width: 100%; color: black; background-color: red; border: 0px; padding: 0px;">
  <div align="center"><img src="archives/2020/transparent.gif" width="30" height="30"></div>
</div>


<div align="center" style="width: 100%; color: red; background-color: white; border: 0px; padding: 0px;">
 <p style= style="font: color: red;"> | <a href="welcome/apr" >home</a> | <a href="welcome/contactUs">contact us </a>| </p>

</div>

<table width="460" border="0" align="center" cellpadding="3" cellspacing="0">
  <tr bgcolor="#999999">
    <td bgcolor="#0033FF"><span class="style1">2020 Issues</span></td>
  </tr>
  <tr bgcolor="#999999">
    <td bgcolor="#FFFFFF"><a href="../y2020/apr" target="y2020/apr">• April 1, 2020</a></td>
  </tr>
  <tr bgcolor="#999999">
    <td bgcolor="#FFFFFF"><a href="../y2020/mar" target="y2020/mar">&bull; March 18, 2020</a></td>
  </tr>
  <tr bgcolor="#999999">
    <td bgcolor="#FFFFFF"><a href="../y2020/mar" target="y2020/mar">&bull; March 4, 2020</a></td>
  </tr>
</table>

<div align="center" style="width: 100%; color: black; background-color: white; border: 0px; padding: 0px;"></div>
