<div style="width: 100%; color: black; background-color: red; border: 0px; padding: 0px;">
  <div align="center"><img src="archives/2020/transparent.gif" width="30" height="30"></div>
</div>


<div align="center" style="width: 100%; color: red; background-color: white; border: 0px; padding: 0px;">
 <p style= style="font: color: red;"> | <a href="index.htm" target="_self">home</a> | <a href="archives.html" target="_self">archives </a>| </p>

</div>

<table width="460" border="0" align="center" cellpadding="3" cellspacing="0">
  <tr bgcolor="#999999">
    <td bgcolor="#FFCC99"><span class="style1">Contact Us </span></td>
  </tr>
  <tr bgcolor="#999999">
    <td bgcolor="#FFFFFF">      <p class="style2">&nbsp;</p>
      <p><span class="style2">Indo Caribbean World<br>
        312 Brownridge Drive,&nbsp;Thornhill,&nbsp;ON&nbsp;L4J&nbsp;5X1<br>
        <br>
        </span>----------------------------</p>
      <p class="style3"><strong>Tel: (905) 738 - 5005 </strong></p>
      <p class="style3"><strong>Fax: (905) 738 - 3927</strong></p>
      <p class="style3">----------------------------</p>
      <p>Email: <a href="mailto:info@indocaribbeanworld.com">indocaribbeanworld@gmail.com</a></p>
      <p>If you would like to contact us in regards to products or services, <br>
      please call us, <br>
      or simply send us an email at the above email address.</p>
    <p>For reports of problems with this site please email <a href="mailto:webmaster@indocaribbeanworld.com">webmaster@indocaribbeanworld.com</a><br>
      <br>
    </p>
    </td>
  </tr>
  <tr bgcolor="#999999">
    <td bgcolor="#999999">&nbsp;</td>
  </tr>
</table>
